@model PracticaEntityGrupo12.Models.Empleado

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Empleado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreEmpleado" class="control-label"></label>
                <input asp-for="NombreEmpleado" class="form-control" />
                <span asp-validation-for="NombreEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalarioEmpleado" class="control-label"></label>
                <input asp-for="SalarioEmpleado" class="form-control" />
                <span asp-validation-for="SalarioEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaIngresoEmpleado" class="control-label"></label>
                <input asp-for="FechaIngresoEmpleado" class="form-control" />
                <span asp-validation-for="FechaIngresoEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
